body{
  background-color: #a3c2c2;
  font-family: 'Arial';
}

p{
  font-family: 'Arial', cursive;
  font-style: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: #3d5c5c;
}

h2{
  background-color: #b3b3b3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200 !important; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-body{
  height: 100%;
  background-image: url("../images/zoomMachine.png") !important;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#divCheck {
    width: 180px;
    height: 180px;
    border: 1px solid black;
}

button{
  color: white;
  border-radius: 12px;
  padding: 10px 24px;
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
}

.QRscan{
  width: 200px;
  height: 120px;
  background-image: url("../images/display.png") !important;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
